<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311952355678-dfuc81a26i5j5i3guf8jfils1vigjmhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311952355678-dfuc81a26i5j5i3guf8jfils1vigjmhq</string>
	<key>API_KEY</key>
	<string>AIzaSyCoWMlBIyZNoLRzdGFOYRbFydhec1Fn8FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>311952355678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sparkle.app</string>
	<key>PROJECT_ID</key>
	<string>sparkle-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkle-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311952355678:ios:0c333fba34a4b53ef9dfcf</string>
</dict>
</plist>